.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.category-label {
  border: 1px solid black;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 12px;
}

.category-label.apparel {
  color: darkcyan;
  border-color: darkcyan;
}

.category-label.automotive {
  color: #D94130;
  border-color: #FF8577;
}

.category-label.entertainment {
  color: #2E5AAC;
  border-color: #89A7E0;
}

.category-label.food {
  color: orange;
  border-color: orange;
}

.category-label.footwear {
  color: yellowgreen;
  border-color: yellowgreen;
}

.category-label.shopping {
  color: #118632;
  border-color: #98D4A9;
}

.category-label.travel {
  color: purple;
  border-color: purple;
}

.category-label.technology {
  border-color: #CDCED9;
}

.column-header {
  font-weight: 600;
}

.description {
  padding-right: 36px;
}

.header-row {
  border-bottom: 1px solid #E7E7ED;
  font-size: 16px;
}

.heading {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 24px;
  margin-left: 100px;
  text-align: left;
}

.location-image {
  height: 40px; 
}

.more {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-top: 27px;
  padding: 0 10px;
  position: absolute;
  right: 124px;
}

.name {
  font-weight: 700;
  padding-right: 36px;
  text-transform: capitalize;
}

.price {
  font-weight: 700;
}

.purchase-column {
  align-items: center;
  display: flex;
  flex: 1 1 0px;
  font-size: 16px;
  text-align: left;
}

.purchase-column.center, .purchase-column.category-header {
  justify-content: center;
  margin-left: -72px;
}

.purchases-list {
  border: 1px solid #E7E7ED;
  border-radius: 4px;
  margin: 0 100px;
}

.purchase-row {
  display: flex;
  padding: 16px 36px;
}

.purchases-wrapper {
  margin: 75px 0;
}
